* {
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: "Roboto", sant-serif;
   background: rgb(204, 201, 206);

}

h2 {
    margin: 16px;
}

.container {
    margin-top: 100px;
    padding: 32px;
}

.select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box .options-container {
    background: #5c5c5b;
    color: rgb(197, 192, 186);
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;

}

.selected {
    background: #525050;
    border-radius: 8px;
    margin-bottom: 8px;
    color: rgb(241, 234, 225);
    position: relative;

    order: 0;
}

.select::after {
    content: "";
    background: url(.img/arrow-down-outline-svgrepo-com);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;

}


.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
 width: 8px;
 background: black;
 border-radius: 0 8px 8px 0;

}
.select-box .options-container::-webkit-scrollbar-thumb {
    
    background: rgb(172, 172, 165);
    border-radius: 0 8px 8px 0;
   
   }

.select-box .option, .selected {
 padding: 12px 24px;
 cursor: pointer;

}

.select-box .options:hover {
    background: rgb(196, 196, 190);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}